.navbar {
    border-bottom: 1px solid #dddddd;
}

.nav-item:hover {
    transform: scale(1.10);
    transition: .3s;

    border-radius: 10px;
    background-color: #efefef;

}

.logo {
    height: 40px;
    width: 40px;
    margin-right: 8px;
}