.navbar {
    border-bottom: 1px solid #dddddd;
}

.navbar {
    background: rgba(255, 255, 255, .6);
    backdrop-filter: blur(8px);
}

.nav-link:hover {
    transition: 0.3s;
    color: #6f42c1;
    transform: translateY(-2px);
}

.logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}