.navbar {
    background: rgba(255, 255, 255, .6);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #dddddd;
}

.nav-link {
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #6f42c1;
    transform: translateY(-2px);
}

.logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
